<?xml version="1.0" encoding="utf-8"?>
<RunSettings> 
<NUnit> 
	<NumberOfTestWorkers> 4 </NumberOfTestWorkers>
</NUnit>
<Playwright>
 <Browser>chromium</Browser>
 <Channel>msedge</Channel>
 <ExpectTimeout>5000</ExpectTimeout>
 <LaunchOptions>
      <Headless>true</Headless>
 </LaunchOptions>
</Playwright>
</RunSettings>